*{box-sizing:border-box;}

.contenido{
	width:300px;
	padding:16px;
	border-radius:10px;
	border: solid 2px black;
	margin:auto;
	background-color: #ccc;
}
body{
	background-color:#e08309 ;
}
a{
	text-decoration: none;
	width:180px;
	padding:3px 10px;
	border:2px solid black;
	border-radius:3px;
	background-color: rgba(226, 207, 207, 0.61);
	margin:8px 0;
	display:inline-block;
}