*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

a{
	text-decoration: none;
	color: black;
}

.cabecera{
	width: 100%;
	max-width: 100%;
	margin: auto;
	background-color: #e08309;
}

.logo{
	width: 200px;
	height: 200px;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 150px;
	display: inline;
	float: left;
}

.carrito{
	width: 40px;
	height: auto;
	display: inline;
	float: right;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: 100px;
}

.galeria1{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.roma{
	width: 25%;
	margin: 10px;
	margin-left: 20px;
	position: relative;
}

.paris{
	width: 25%;
	margin: 10px;
	position: relative;
}

.atenas{
	width: 25%;
	margin: 20px;
	position: relative;
}