*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: black;
}

.cabecera{
	width: 100%;
	max-width: 100%;
	margin: auto;
	background-color: #e08309;
}

.logo{
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 150px;
	display: inline;
	float: left;

}

.carrito{
	width: 40px;
	height: auto;
	display: inline;
	float: right;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: 100px;

}
